/*变量的含义可以在前端看*/
.ac-game-settings {
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/BACKGROUND.gif");
    background-size: 100% 100%;
    user-select: none;
}

.ac-game-settings-login {
    height: 41vh; /* 41%的高度 */
    width: 25vw;  /* 25%的宽度 */
    position: relative;  /* 居中 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* 改毛点, 居中 */
    background-color: rgba(0, 0, 0, 0.7); /* 背景颜色 */
    border-radius: 10px;  /* 加四周的圆角 */
}

.ac-game-settings-title {
    color: white;  /* 白色字体 */
    font-size: 2vh;  /* 字体大小 */
    text-align: center;  /* 居中 */
    padding-top: 2vh;
    margin-bottom: 2vh;
}

.ac-game-settings-username {
    display: block;
    height: 7vh;
}

.ac-game-settings-password {
    display: block;
    height: 7vh;
}

.ac-game-settings-submit {
    display: block;
    height: 7vh;
}

.ac-game-settings-acwing {
    display: block;
    height: 7vh;
}

.ac-game-settings-item {
    width: 100%;
    height: 100%;
}

.ac-game-settings-item > input {
    width: 80%;
    line-height: 3vh;  /* 行高 */
    position: relative;  /* 居中*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /*改毛点, 居中*/
    border-radius: 5px;
}

.ac-game-settings-item > button {  /*item里面嵌套button, 如果item里面有button就把button样式改一下*/
    color: white;
    width: 80%;
    line-height: 3vh;
    position: relative;  /* 居中*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /*改毛点, 居中*/
    background-color: #4caf50;
    border-radius: 8px;
    cursor: pointer; /*鼠标变成小手点击*/
}

.ac-game-settings-error-message {
    color: red;
    font-size: 0.8vh;
    display: line;  /*一行显示不会有回车*/
    float: left; /*左对齐*/
    padding-left: 2vw; /*离左边有2%的宽度*/
}

.ac-game-settings-option {
    color: white;
    font-size: 1.7vh;
    display: inline;
    float: right;
    padding-right: 2vw;
    cursor: pointer; /*鼠标变成小手点击*/
}

.ac-game-settings-acwing > img {
    position: relative;  /* 居中*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /*改毛点, 居中*/
    cursor: pointer;
    display: block;
}

.ac-game-settings-acwing > div {
    color: white;
    font-size: 1.5vh;
    text-align: center;
    display: block;
}

.ac-game-settings-register {
    height: 49vh;
    width: 25vw;
    position: relative;  /* 居中*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /*改毛点, 居中*/
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;  /*加四周的圆角*/
}

.ac-game-menu {
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/BACKGROUND.gif");
    background-size: 100% 100%;
    user-select: none;
}
.ac-game-menu-field {
    left: 60%;/*离左边的距离百分比*/
    width: 20vw; /*整个页面高度(百分比参数:7%高)*/
    position: relative;/*相对的*/
    top: 60%;/*左上角离上方的距离百分比*/
}
.ac-game-menu-field-item {
    color: gold; /*按钮字体颜色*/
    height: 5vh; /*按钮之间相对间隔的高度*/
    width: 12vw; /*按钮的宽度*/
    font-size: 3vh;/*字体大小*/
    font-style: italic; /*字体：意大利斜体*/
    text-align: center;/*字体在按钮居中*/
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;/*阴影半径10像素, 是边界更圆滑*/
    letter-spacing: 0.8vw;/*两个字之间的宽度, 0.5%的宽度*/
    cursor: pointer;/*光标会变成一个小手的形状*/
}

.ac-game-menu-field-item:hover{/*当鼠标悬浮在上面的时候样式怎么变*/
    transform: scale(1.2);/*鼠标悬浮在上面会变成1.2倍的大小*/
    transition: 150ms;/*在150ms的时间内变化, 比较平缓*/
}

.ac-game-playground {
    width: 100%;
    height: 100%;
    user-select: none;
    background-color: grey;
}

.ac-game-playground > canvas {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ac-game-chat-field-history {
    position: absolute;  /*  绝对位置，要覆盖在canvas上面而不是下面  */
    top: 66%;
    left: 20%; /*  大概就是左下角的位置  */

    transform: translate(-50%, -50%);

    width: 20%;
    height: 32%;

    color: white;
    font-size: 2vh;  /*  2%的高度  */

    padding: 5px;
    overflow: auto;  /*  超出距离自动加滚动条  */
}

.ac-game-chat-field-history::-webkit-scrollbar {
    width: 0;  /*  把历史记录的滚动条宽度变为0  */
}

.ac-game-chat-field-input {
    position: absolute;
    top: 86%;
    left: 20%;
    transform: translate(-50%, -50%);

    width: 20%;
    height: 3vh;

    color: white;
    font-size: 2vh;

    background-color: rgba(222,225,230, 0.2);
}

.ac-game-illustrate {
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/BACKGROUND.gif");
    background-size: 100% 100%;
    user-select: none;
}

.ac-game-illustrate-field {
    left: 10%;/*离左边的距离百分比*/
    width: 80vw; /*整个页面高度(百分比参数:7%高)*/                                                                                                              
    position: relative;/*相对的*/
    top: 10%;/*左上角离上方的距离百分比*/
}

.ac-game-illustrate-title {
    color: red;  /* 白色字体 */
    font-size: 28px;  /* 字体大小 */
    text-align: center;  /* 居中 */
}

.ac-game-illustrate-multimode-title {
    color: red;  /* 白色字体 */
    font-size: 24px;  /* 字体大小 */
    text-align: center;  /* 居中 */
}

.ac-game-illustrate-field-item {
    color: gold; /*按钮字体颜色*/
    height: 5vh; /*按钮之间相对间隔的高度*/
    width: 6vw; /*按钮的宽度*/
    font-size: 4vh;/*字体大小*/
    font-style: italic; /*字体：意大利斜体*/
    text-align: center;/*字体在按钮居中*/
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;/*阴影半径10像素, 是边界更圆滑*/
    letter-spacing: 0.5vw;/*两个字之间的宽度, 0.5%的宽度*/
    cursor: pointer;/*光标会变成一个小手的形状*/
}

.ac-game-illustrate-field-item:hover{/*当鼠标悬浮在上面的时候样式怎么变*/
    transform: scale(1.2);/*鼠标悬浮在上面会变成1.2倍的大小*/
    transition: 150ms;/*在150ms的时间内变化, 比较平缓*/
}