/*变量的含义可以在前端看*/
.ac-game-menu{
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/background.png");
    background-size: 100% 100%;
    user-select: none;
}
.ac-game-menu-field {
    left: 60vw;/*离左边的距离百分比*/
    width: 20vw; /*整个页面高度(百分比参数:7%高)*/
    position: relative;/*相对的*/
    top: 40vh;/*左上角离上方的距离百分比*/
}
.ac-game-menu-field-item {
    color: gold; /*按钮字体颜色*/
    height: 7vh; /*按钮之间相对间隔的高度*/
    width: 18vw; /*按钮的宽度*/
    font-size: 6vh;/*字体大小*/
    font-style: italic; /*字体：意大利斜体*/
    padding: 2vh;/*字体周围的填充区域*/
    text-align: center;/*字体在按钮居中*/
    background-color: rgba(39,21,28, 0.6);
    border-radius: 10px;/*阴影半径10像素, 是边界更圆滑*/
    letter-spacing: 0.5vw;/*两个字之间的宽度, 0.5%的宽度*/
    cursor: pointer;/*光标会变成一个小手的形状*/
}

.ac-game-menu-field-item:hover{/*当鼠标悬浮在上面的时候样式怎么变*/
    transform: scale(1.2);/*鼠标悬浮在上面会变成1.2倍的大小*/
    transition: 150ms;/*在150ms的时间内变化, 比较平缓*/
}

.ac-game-playground {
    width: 100%;
    height: 100%;
    user-select: none;
}
